//breakpoints para media queries
$screen-xs: 320px;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$font-small: 14px;
$font-main: 16px;
$font-title: 18px;

$header-height: 60px;

$light-gray: rgb(236, 236, 236);
$header-color : #2d3d46;
$side-bar-color : #f3f3f3;

